<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--         <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tpv</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
        
<!-- 	<property name="connection.datasource">tesis.tpv</property> -->
<!-- 	<property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->
<property name="jndi.url">t3://localhost:7001</property>
<property name="jndi.class">weblogic.jndi.WLInitialContextFactory</property>

<property name="connection.datasource">tesis.tpv</property>

    <mapping resource="com/edu/tpv/mappings/Test.xml"/>

    </session-factory>
    
</hibernate-configuration>
